*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
li{
    list-style: none;
}

a{
    text-decoration: none;
}


body{
    background-image: url("/images/bg-body.png");
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*header*/
header{
    margin-bottom: 30px;
    overflow: hidden;
}

header img{
    display: block;
    border-radius: 50%;
    border: 1px solid #bbbfbe;
    margin: 15px auto 30px;
    width: 180px;
}

header a.burguer{
    display: block;
    width: 35px;
    background-color: gray;
    color: white;
    padding: 8px;
    border-radius: 4px;
    margin: 0 auto 30px;
    text-align: center;
}

header nav ul li {
    width: 100%;
    background-color: gray;
    margin-bottom: 1px;
    padding: 10px;
    text-align: center;
}

header nav ul li a{
    display: inline-block;
    color: white;
    text-transform: uppercase;
}

/*main*/
.banner img{
    display: none;
}

article{
    width: 100%;
}

article .image-container{
    position: relative;
}

article .image-container img.photo{
    width: 100%;
}

article .image-container img.lavel{
    position: absolute;
    top: 0;
    right: 10px;
}

article .image-container a.zoom{
    width: 100%;
    position: absolute;
    top: 45%;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 7px;
    right: 0;
}

article h4{
    margin: 20px 0;
}

article a.more{
    display: inline-block;
    padding: 10px;
    margin: 20px 0;
    background-color: #63645d;
    color: white;
    font-weight: 600;
}

/*footer*/

footer{
text-align: center;
}

footer nav ul li {
    width: 100%;
    background-color: gray;
    margin-bottom: 1px;
    
}

footer nav ul li a{
    display: inline-block;
    color: white;
    text-transform: uppercase;
    padding: 10px;
}

/*tablet*/


@media (min-width : 481px) {
    /*header*/
    header a.burguer{
        display: none;
    }

    header nav ul li {
        width: 15.5%;
        margin-right: 1.4%;
        float: left;
        font-size: 0.53rem;        
    }

    header nav ul li:last-child {
        margin-right:0;       
    }
    /*main*/
    .banner img{
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }

    section.products{
        overflow: hidden;
    }
    article{
        width: 49%;
        float: left;
        margin-right: 2%;
    }

    article:nth-child(even){
        margin-right: 0;
    }
}

@media (min-width:769px) {
    header nav ul li {
        font-size: 1rem;        
    }

    article{
        width: 32%;
        margin-right: 2%;
    }

    article:nth-child(even){
        margin-right: 2%;
    }

    article:nth-child(3n){
        margin-right: 0;
    }

    /*footer*/
    footer{
        background-color: red;
        height: 200px;
        padding: 80px 0;
        border-radius: 30px 30px 0 0;
        }
        
        footer nav ul li {
            display: inline;
            background-color: transparent;
            margin-bottom: 1px;
            border-right: 2px solid white;
        }

        footer nav ul li:last-child{
            border-right: none;
        }
        
}